## 2. Compare DCRA and CDR data

Try to compare the DCRA and CDR data and assess how difficult it will be to match incidents in the two datasets.

1. For the quarter of cleaned DCRA data, pull the CDR data for the same time period (`adhoc.custodial_death_reports`)
2. Identify common columns between the two datasets:
   - Compare high-level descriptive statistics (ie, look at incidents by age of the decedent, time of death, location, and/or cause)
   - Create a mapping between columns with the same information but different names or data formats (for example, first name may be all caps in one dataset but title case in another; or there may be different date formats)
4. Attempt to join the two datasets together using some combination of columns, and make recommendation for how we should do this for the final analysis

In [2]:
import dotenv
import sqlalchemy as sa
import pandas as pd
import os

In [3]:
dotenv.load_dotenv()
postgres_engine = sa.create_engine(
    f'postgresql+psycopg2://{os.getenv("DB_USERNAME")}:{os.getenv("DB_PASSWORD")}@{os.getenv("DB_URI")}:{os.getenv("DB_PORT")}/{os.getenv("DB_NAME")}'
)

In [4]:
def query(query_text: str) -> pd.DataFrame:
    with postgres_engine.begin() as con:
        query = sa.text(query_text)
        return pd.read_sql(query, con=con)

In [6]:
query('''SELECT MIN(report_date), MAX(report_date) FROM adhoc.custodial_death_reports  limit 5''')

                   min                  max
0  2005-03-01 00:00:00  2024-02-08 00:00:00